* {
    box-sizing: border-box;
}

:root{
    --primary: #470080;
    --secondary: #b07cff;

}

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header p{
    margin: 0px;
}
header div{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
}
header a{
    color: var(--secondary);
    text-decoration: none;
}


.challenge-section {
    display: flex;
    justify-content: center; 
    min-height: 80vh;
    align-items: center;

}
.challenge-wrapper{
    width: 70vh;
    text-align: center;

}

.challenge-interactions{
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choiceBtn {
    padding: 10px 25px; 
    margin: 5px 5px;
    background-color: var(--primary);
    border: none;
    border-radius: 5px;
    color: white;

}

.choiceBtn:hover {
    background-color: var(--secondary);
    color: white;
}

.submit{
    
}

.choice {
    margin: 5px;
    
}

#result {
    color: grey;
}
