* {
    box-sizing: border-box;
}

/* store main colors used throughout program */
:root{
    --primary: #470080;
    --secondary: #b07cff;
    --tertiary: #e1cdff;

}

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* header styling */
header p{
    margin: 0px;
}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
}
.nav button{
    color: var(--primary);
    text-decoration: none;
    border: none;
    background: none;
}

.nav button:hover{
    color: var(--secondary);
}

.nav button:focus{
    outline: none;

}

/* main section and button styling */
.main-section {
    display: flex;
    justify-content: center; 
    min-height: 80vh;
    align-items: center;

}
.scoreList{
    text-align: left;
    background-color: var(--tertiary);
}

li{
    padding: 5px 10px;
}

.main-wrapper{
    width: 70vh;
    text-align: center;

}

.main-interactions{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.change-Container{
    text-align: center;
}

.optionBtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choiceBtn {
    padding: 10px 25px; 
    margin: 5px 5px;
    background-color: var(--primary);
    border: none;
    border-radius: 5px;
    color: white;

}

.choiceBtn:hover {
    background-color: var(--secondary);
    color: white;
}

#result{
    font-size: 30px;
    color: grey;
}

.choice {
    margin: 5px;
    
}

#tryAgainBtn {
    align-self: flex-start;
}

#clearBtn{
    align-self: flex-end;
}



